In [8]:
import itertools
import pandas as pd

In [2]:
comb = list(itertools.combinations_with_replacement([0.001,0.01,0.1,1,10,100], 3))
comb

[(0.001, 0.001, 0.001),
 (0.001, 0.001, 0.01),
 (0.001, 0.001, 0.1),
 (0.001, 0.001, 1),
 (0.001, 0.001, 10),
 (0.001, 0.001, 100),
 (0.001, 0.01, 0.01),
 (0.001, 0.01, 0.1),
 (0.001, 0.01, 1),
 (0.001, 0.01, 10),
 (0.001, 0.01, 100),
 (0.001, 0.1, 0.1),
 (0.001, 0.1, 1),
 (0.001, 0.1, 10),
 (0.001, 0.1, 100),
 (0.001, 1, 1),
 (0.001, 1, 10),
 (0.001, 1, 100),
 (0.001, 10, 10),
 (0.001, 10, 100),
 (0.001, 100, 100),
 (0.01, 0.01, 0.01),
 (0.01, 0.01, 0.1),
 (0.01, 0.01, 1),
 (0.01, 0.01, 10),
 (0.01, 0.01, 100),
 (0.01, 0.1, 0.1),
 (0.01, 0.1, 1),
 (0.01, 0.1, 10),
 (0.01, 0.1, 100),
 (0.01, 1, 1),
 (0.01, 1, 10),
 (0.01, 1, 100),
 (0.01, 10, 10),
 (0.01, 10, 100),
 (0.01, 100, 100),
 (0.1, 0.1, 0.1),
 (0.1, 0.1, 1),
 (0.1, 0.1, 10),
 (0.1, 0.1, 100),
 (0.1, 1, 1),
 (0.1, 1, 10),
 (0.1, 1, 100),
 (0.1, 10, 10),
 (0.1, 10, 100),
 (0.1, 100, 100),
 (1, 1, 1),
 (1, 1, 10),
 (1, 1, 100),
 (1, 10, 10),
 (1, 10, 100),
 (1, 100, 100),
 (10, 10, 10),
 (10, 10, 100),
 (10, 100, 100),
 (100, 100, 100)]

In [3]:
comb2 = comb

In [4]:
for element in comb:
    if element[2] == 100:
        comb2.remove(element)

In [5]:
comb2

[(0.001, 0.001, 0.001),
 (0.001, 0.001, 0.01),
 (0.001, 0.001, 0.1),
 (0.001, 0.001, 1),
 (0.001, 0.001, 10),
 (0.001, 0.01, 0.01),
 (0.001, 0.01, 0.1),
 (0.001, 0.01, 1),
 (0.001, 0.01, 10),
 (0.001, 0.1, 0.1),
 (0.001, 0.1, 1),
 (0.001, 0.1, 10),
 (0.001, 1, 1),
 (0.001, 1, 10),
 (0.001, 10, 10),
 (0.001, 100, 100),
 (0.01, 0.01, 0.01),
 (0.01, 0.01, 0.1),
 (0.01, 0.01, 1),
 (0.01, 0.01, 10),
 (0.01, 0.1, 0.1),
 (0.01, 0.1, 1),
 (0.01, 0.1, 10),
 (0.01, 1, 1),
 (0.01, 1, 10),
 (0.01, 10, 10),
 (0.01, 100, 100),
 (0.1, 0.1, 0.1),
 (0.1, 0.1, 1),
 (0.1, 0.1, 10),
 (0.1, 1, 1),
 (0.1, 1, 10),
 (0.1, 10, 10),
 (0.1, 100, 100),
 (1, 1, 1),
 (1, 1, 10),
 (1, 10, 10),
 (1, 100, 100),
 (10, 10, 10),
 (10, 100, 100)]

In [6]:
diff = difference(set(comb),set(comb2))

NameError: name 'difference' is not defined

In [9]:
pd.DataFrame(comb)

         0        1        2
0    0.001    0.001    0.001
1    0.001    0.001    0.010
2    0.001    0.001    0.100
3    0.001    0.001    1.000
4    0.001    0.001   10.000
5    0.001    0.010    0.010
6    0.001    0.010    0.100
7    0.001    0.010    1.000
8    0.001    0.010   10.000
9    0.001    0.100    0.100
10   0.001    0.100    1.000
11   0.001    0.100   10.000
12   0.001    1.000    1.000
13   0.001    1.000   10.000
14   0.001   10.000   10.000
15   0.001  100.000  100.000
16   0.010    0.010    0.010
17   0.010    0.010    0.100
18   0.010    0.010    1.000
19   0.010    0.010   10.000
20   0.010    0.100    0.100
21   0.010    0.100    1.000
22   0.010    0.100   10.000
23   0.010    1.000    1.000
24   0.010    1.000   10.000
25   0.010   10.000   10.000
26   0.010  100.000  100.000
27   0.100    0.100    0.100
28   0.100    0.100    1.000
29   0.100    0.100   10.000
30   0.100    1.000    1.000
31   0.100    1.000   10.000
32   0.100   10.000   10.000
33   0.100  100.000  100.000
34   1.000    1.000    1.000
35   1.000    1.000   10.000
36   1.000   10.000   10.000
37   1.000  100.000  100.000
38  10.000   10.000   10.000
39  10.000  100.000  100.000

In [ ]:
pd.DataFrame(comb).to_csv('init_point3', index=False)